<div class="body">
    <div class="container">
        <div class="form" *ngIf="!forgotPassword">
            <form [formGroup]="passwordLogin">
                <div class="formgroup">
                <label for="email">
                    Email 
                </label>
                <input type="email" placeholder="Enter your email" formControlName="email" autocomplete="true">
                <div class="error" *ngIf="passwordLogin.get('email').hasError('required') && (Submit)">Please enter your Email Id</div>
                <div class="error" *ngIf="passwordLogin.get('email').hasError('email') && (Submit)">Please enter valid Email Id</div>
                <div class="error" *ngIf="!passwordLogin.get('email').hasError('required') && !passwordLogin.get('email').hasError('email') && passwordLogin.get('email').value !== 'pankaj.phour70@gmail.com' && (Submit)">Wrong Email Id</div>

            </div>
            <div class="formgroup">
                <label for="Password">
                    Password 
                </label>
                <input type="password" placeholder="Enter your Password" formControlName="password" autocomplete="true">
                <div class="error" *ngIf="passwordLogin.get('password').hasError('required') && (Submit)">Please enter your Password</div>
                <div class="error" *ngIf="!passwordLogin.get('password').hasError('required') && passwordLogin.get('password').value !== 'Pankaj@123' && (Submit)">Wrong Password</div>
            </div>
            <div class="button">
                <div class="forgot" (click)="loginChange()">Login with OTP ?</div>
                <asl-google-signin-button #google (click)="googleLogin()"></asl-google-signin-button>
                <button type="button" class="btn" (click)="submit()">Submit</button>
            </div>

            </form>
        </div>

        <div class="form" *ngIf="forgotPassword">
            <form [formGroup]="otpLogin">
                <div class="formgroup">
                <label for="email">
                    Email 
                </label>
                <input type="email" placeholder="Enter your email" formControlName="email" autocomplete="true">
                <div class="error" *ngIf="otpLogin.get('email').hasError('required') && (Submit)">Please enter your Email Id</div>
                <div class="error" *ngIf="otpLogin.get('email').hasError('email') && (Submit)">Please enter valid Email Id</div>
                <div class="error" *ngIf="!otpLogin.get('email').hasError('required') && !otpLogin.get('email').hasError('email') && otpLogin.get('email').value !== 'pankaj.phour70@gmail.com' && (Submit)">Wrong Email Id</div>

            </div>
            <div class="formGroup" >
                <ng-otp-input formnControlName="otp" [config]="{length:4}"
                                        (keydown)="keyValue($event)"
                                        (onInputChange)="onOtpChange($event)"></ng-otp-input>
            </div>
            <div class="button">
                <div class="forgot" (click)="loginChange()">Login with Password ?</div>
                <asl-google-signin-button #google (click)="googleLogin()"></asl-google-signin-button>
                <button type="button" class="btn" (click)="emailSubmitFunction()">Submit</button>
            </div>

            </form>
        </div>

    </div>
<form [formGroup]="form" style="display: none;">

</form>
</div>